@import "../node_modules/bootswatch/dist/vapor/variables";

$success: rgb(50, 251, 226);
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/vapor/bootswatch";
@import "../node_modules/jack-hermanson-css-lib/src/main";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$subtle_gray: rgba(255, 255, 255, 0.5);

body {
  font-family:  /*"SF Pro Rounded", */"Rubik", $font-family-sans-serif;
  min-height: 100vh;
}

a {
  color: #eee;
}

a.chore-card-title-link {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.navbar-brand, .nav-link {
  text-transform: uppercase;
}

h2, h3, h4 {
  text-transform: uppercase;
}

.form-group {
  @extend .mb-3;
}

.logo {
  filter: drop-shadow(0 0 5px rgb(255 255 255 / 0.4));
}

.form-label.required:after {
  color: white !important;
}

.bottom-buttons {
  @extend .mt-4;
  .btn:not(:last-child) {
    @extend .me-2;
  }
}

hr {
  height: 2px !important;
  background-color: rgb(50, 251, 226) !important;
  filter: drop-shadow(0 0 5px rgb(255 255 255 / 0.4));
  opacity: 100% !important;
}

.form-control {
  margin-bottom: 0 !important;
}

.border-bottom {
  //border-bottom: 2px solid rgb(50, 251, 226) !important;
  border-bottom: 1px solid $success !important;
}

.page-title {
  display: flex;
  //@extend .border-bottom;

  h2 {
    margin-bottom: 0;
    margin-top: 0.5em;
  }

  .actions {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 0.5em;
  }
}

.btn-success, .alert-success {
  color: $body-bg;
}

.btn-outline-success, .btn-success {
  &:hover, &:active, &.dropdown-toggle.show {
    color: black !important;
  }
}

p.left-line-next-to-text {
  border-left: 4px solid $text-muted;
  padding-left: 8px;
}

.text-muted {
  color: $text-muted !important;
}

.card {
  border-radius: 4px;
}

.card-header {
  background-color: darken($dark, 5%);
}

.chore-card {
  .card-header {
    h5 {
      @include media-breakpoint-up(lg) {
        font-size: 26px;
      }
      font-weight: 300;
    }
  }
}

.due-date-badge {
  &:not(.overdue) {
    background-color: $green-700;
      &:active, &:hover {
      background-color: tint-color($green-700, $btn-active-bg-tint-amount);
    }
  }
  &.overdue {
    background-color: $danger;
    &:active, &:hover {
      background-color: tint-color($danger, $btn-active-bg-tint-amount);
    }
  }
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

}


// The thing in the main css library
// is broken as fuck, idk how I ever used it.
.card-data-table {
  width: 100%;
  tr {
    th:first-child, td:first-child {
      width: 40%;
      @include media-breakpoint-up(lg) {
        width: 30%;
      }
      padding-left: 1em;
    }
    th:last-child, td:last-child {
      padding-right: 1em;
    }
  }
  tr {
    td, th {
      padding-top: 0.7em;
      padding-bottom: 0.7em;
    }
  }

  // if this table is the last thing in the card,
  // we don't need a border bottom on the last row
  &:not(:last-child) {
    tr {
      border-bottom: 1px solid $subtle_gray;
    }
  }
  // if things come after, do put border bottom on last row
  &:last-child {
    tr:not(:last-child) {
      border-bottom: 1px solid $subtle_gray;
    }
  }
}

.list-group {
  .list-group-item:not(:last-child) {
    border-bottom: 1px solid $subtle_gray;
  }
}

.button-panel {
  display: flex;
  width: 100%;
  justify-content: space-between;

  button {
    display: flex;
    width: 100%;
    outline: none;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    border: none;
    background: darken($dark, 5%);
    &:hover:not(:disabled) {
      background: $list-group-bg;
    }
    &:disabled {
      background: #222;
      cursor: not-allowed;
    }
    &:not(:last-child) {
      border-right: 1px solid $subtle_gray;
    }
  }
}

input {
  color-scheme: dark;
}

.card {
  background: $list-group-bg;
}

ul.jump-to-list {
  list-style: none;
  padding-left: 0;
}