{% extends "base.html" %}
{% from "macros/form.html" import form_group %}

{% set title = mode + " Chore" %}
{% set active_route = "chores" %}

{% block body %}
    <div class="row">
        <div class="col-12 col-lg-8">
            <form action="{% if mode == "create" %}
                              {{ chores.create }}
                          {% elif mode == "edit" %}
                            {{ chores.edit(chore_id=chore_id) }}
                          {% endif %}" method="POST">
                {{ form.hidden_tag() }}
                {{ form_group(form, "title", required=True) }}
                {{ form_group(form, "description") }}
                {{ form_group(form, "list", required=True) }}
                {{ form_group(form, "owner", required=True) }}
                {{ form_group(
                        form,
                        "repeat_type",
                        render_kw={
                            "hx-get": url_for("chores.get_repeat_type"),
                            "hx-target": "#repeat-input"
                        })
                }}


                <div id="repeat-input">
                    {% if form.repeat_type.data == "0" %}
                        {% include("chores/create-edit-partials/due-date.html") %}
                    {% elif form.repeat_type.data == "1" %}
                        {% include("chores/create-edit-partials/repeat-days.html") %}
                    {% elif form.repeat_type.data == "2" %}
                        {% include("chores/create-edit-partials/repeat-day-of-week.html") %}
                    {% elif form.repeat_type.data == "3" %}
                        {% include("chores/create-edit-partials/repeat-day-of-month.html") %}
                    {% endif %}
                </div>

                <div class="bottom-buttons">
                    {{ form.submit(class="btn btn-outline-success") }}
                    <a href="" class="btn btn-outline-secondary">Reset</a>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}