{% extends "base.html" %}

{% from "macros/action-link.html" import action_link %}
{% from "macros/key-val-list-item.html" import key_val_list_item %}
{% from "macros/pagination.html" import pagination %}

{% set title = chore.title + " Details" %}
{% set active_route = "chores" %}

{% block actions %}
    {{ action_link("Edit Chore", url_for("chores.edit", chore_id=chore.chore_id)) }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-xl-7 mb-3 mb-xl-0">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Details</h5>
                </div>
                <div class="card-body p-0">

                    <div class="list-group list-group-flush">
                        {% call key_val_list_item("Description") %}
                            <p class="mb-1">
                                {% if chore.description %}
                                    {{ chore.description }}
                                {% else %}
                                    <i>No description.</i>
                                {% endif %}
                            </p>
                        {% endcall %}
                        {% call key_val_list_item("List") %}
                            <p class="mb-1">
                                {{ chore.list.title }}
                            </p>
                        {% endcall %}
                        {#                {% include "chore_logs/chore-log-completed-date-partial.html" %}#}
                        {% call key_val_list_item("Repeats") %}
                            <p class="mb-1">
                                {% if chore.repeat_type == 0 %}
                                    <i>N/A</i>
                                {% elif chore.repeat_type == 1 %}
                                    Every {{ chore.repeat_days if chore.repeat_days != 1 else "" }} day{% if chore.repeat_days != 1 %}s{% endif %}
                                {% elif chore.repeat_type == 2 %}
                                    Every {{ chore.repeat_day_of_week|day_of_week_str }}
                                {% elif chore.repeat_type == 3 %}

                                    The {% if chore.repeat_day_of_month == 31 %}last{% else %}
                                    {{ chore.repeat_day_of_month|number_suffix }}{% endif %} day of every month
                                {% endif %}
                            </p>
                        {% endcall %}
                        {% call key_val_list_item("Owner") %}
                            <p class="mb-1">
                                {{ chore.owner.formatted_name }}
                            </p>
                        {% endcall %}
                        {% call key_val_list_item("Timeliness") %}
                            <p class="mb-1">
                                On average, this chore is completed
                                {% if average_timelines == 0 %}
                                    <strong>on time</strong>.
                                {% else %}
                                        <span class="font-monospace">{{ average_timelines|abs|round(2) }}</span> day{{ "s" if average_timelines|abs != 1 else "" }}
                                        <strong>{% if average_timelines|abs < 1 %}early{% else %}late{% endif %}</strong>.
                                {% endif %}
                            </p>
                        {% endcall %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-5">
            <div class="card" id="completion-logs">
                <div class="card-header">
                    <h5 class="mb-0">Completion Logs</h5>
                </div>
                <div class="card-body p-0">
                    <div class="list-group list-group-flush">
                        {% for previous_log in previous_logs.items %}
                            <div class="list-group-item d-flex">
                                <div>
                                    <div>
                                        {{ previous_log.completed_date.strftime("%A, %B %e, %l:%M%p") }}
                                        by
                                        {{ previous_log.completed_by_account.formatted_name }}
                                    </div>
                                    <div>
                                        <small class="text-muted">
                                            Due {{ previous_log.due_date.strftime('%A, %b %e') }}
                                        </small>
                                    </div>
                                </div>

                                <div class="ms-auto my-auto">
                                    <span class="badge complete due-date-badge d-flex {% if previous_log.completed_date|extract_date > previous_log.due_date|extract_date %}overdue{% endif %}">
                                        <span class="my-auto">
                                            {% if previous_log.completed_date|extract_date > previous_log.due_date|extract_date %}
                                                {{ (previous_log.completed_date|extract_date - previous_log.due_date|extract_date).days }} Day{% if (previous_log.completed_date|extract_date - previous_log.due_date|extract_date).days != 1 %}s{% endif %} Late
                                            {% elif previous_log.completed_date|extract_date < previous_log.due_date|extract_date %}
                                                {{ (previous_log.completed_date|extract_date - previous_log.due_date|extract_date).days|abs }} Day{% if (previous_log.completed_date|extract_date - previous_log.due_date|extract_date).days|abs != 1 %}s{% endif %} Early
                                            {% else %}
                                                On time
                                            {% endif %}
                                        </span>
                                    </span>
                                </div>

                            </div>
                        {% endfor %}
                        {% if not previous_logs.items %}
                            <div class="list-group-item">
                                <span class="fst-italic">Never completed</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ pagination(
                        endpoint="chores.details",
                        pagination_model=previous_logs,
                        special_kwargs={'chore_id': chore.chore_id},
                        suffix="#completion-logs")
                    }}
                </div>
            </div>
        </div>
    </div>

{% endblock body %}