<div class="card mb-3 bg-dark" id="chore-log-card-{{ chore_log.chore_log_id }}">
    <div class="card-header d-flex">
        <h5 class="my-auto">{{ chore_log.chore.title }}</h5>
        <div class="ms-auto">
            {% if chore_log.is_past_due %}
                <span class="badge bg-danger">{{ chore_log.due_date.strftime('%a, %b %e, %l:%M:%S') }}</span>
            {% else %}
                <span class="badge bg-info">{{ chore_log.due_date.strftime('%a, %b %e, %l:%M:%S') }}</span>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <h5>{{ chore_log.chore_log_id }}</h5>
        <p>Due: {{ chore_log.due_date }}</p>
        {% if chore_log.chore.repeat_type == 1 %}
            <p>Repeat days {{ chore_log.chore.repeat_days }}</p>
        {% elif chore_log.chore.repeat_type == 2 %}
            <p>Repeat day: {{ chore_log.chore.repeat_day_of_week }}</p>
        {% endif %}
        {% if chore_log.previous %}
            prev: {{ chore_log.previous }}
            <button
                    class="btn btn-danger"
                    hx-confirm="Are you sure you want to undo your most recent completion of '{{ chore_log.chore.title }}'?"
                    hx-post="{{ url_for("chore_logs.undo", chore_log_id=chore_log.chore_log_id) }}"
                    hx-target="#chore-log-card-{{ chore_log.chore_log_id }}"
                    hx-swap="outerHTML"
            >
                Undo Completion
            </button>
        {% endif %}
        <p>
            {% if chore_log.chore.description %}
                {{ chore_log.chore.description }}
            {% else %}
                <span class="text-muted">No description</span>
            {% endif %}
        </p>
        {% if chore_log.is_complete %}
            <p>COMPLETE</p>
        {% elif chore_log.chore.repeat_type == 1 or chore_log.chore.repeat_type == 2 %}
            <button
                    class="btn btn-outline-success me-2"
                    hx-confirm="Complete '{{ chore_log.chore.title }}'?"
                    hx-post="{{ url_for("chore_logs.complete", chore_log_id=chore_log.chore_log_id) }}"
                    hx-target="#chore-log-card-{{ chore_log.chore_log_id }}"
                    hx-swap="outerHTML"
            >
                Complete
            </button>
            <button class="btn btn-outline-info">
                Complete & Keep Schedule
            </button>
        {% else %}
            <p>N/A</p>
        {% endif %}

    </div>
</div>