{% from "macros/key-val-list-item.html" import key_val_list_item %}

<div class="card mb-3 bg-dark chore-card" id="chore-log-card-{{ chore_log.chore_log_id }}">
    <div class="card-header d-flex">
        <h5 class="my-auto">{{ chore_log.chore.title }}</h5>
        {% include "chore_logs/chore-log-due-date-badge-partial.html" %}
    </div>

    <div class="card-body p-0">
        <div class="list-group list-group-flush">
            {% call key_val_list_item("Description") %}
                <p class="mb-1">
                    {% if chore_log.chore.description %}
                        {{ chore_log.chore.description }}
                    {% else %}
                        <i>No description.</i>
                    {% endif %}
                </p>
            {% endcall %}
            {% call key_val_list_item("Last Completed") %}
                <p class="mb-1">
                    {% if chore_log.previous %}
                        {{ chore_log.previous.completed_date.strftime("%A, %B %e, %l:%M%p") }}
                    {% else %}
                        <i>Never</i>
                    {% endif %}
                </p>
            {% endcall %}
            {% call key_val_list_item("Repeats") %}
                <p class="mb-1">
                    {% if chore_log.chore.repeat_type == 1 %}
                        Every {{ chore_log.chore.repeat_days }} days
                    {% elif chore_log.chore.repeat_type == 2 %}
                        Every {{ chore_log.chore.repeat_day_of_week|day_of_week_str }}
                    {% endif %}
                </p>
            {% endcall %}
            {% call key_val_list_item("Owner") %}
                <p class="mb-1">
                    {{ chore_log.chore.owner.name }}
                </p>
            {% endcall %}
            <div class="button-panel">
                <button title="Complete Now">
                    <span class="my-auto">
                        <span class="icon-check"></span>
                    </span>
                </button>
                <button title="Complete & Keep Schedule">
                    <span class="my-auto">
                        <span class="icon-check"></span>
                        &nbsp;
                        <span class="icon-calendar"></span>
                    </span>
                </button>
                <button title="Undo Last Completion" {% if not chore_log.previous %}disabled{% endif %}>
                    <span class="my-auto">
                        <span class="icon-action-undo"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>