{% from "macros/form.html" import form_group %}

<div class="card sticky-lg-top" id="chore-logs-filtering">
    <div class="card-header d-flex hover-mouse"
         hx-trigger="click"
         hx-get="{{ url_for("chore_logs.filtering") }}"
         hx-target="#chore-logs-filtering"
         hx-swap="outerHTML"
         hx-include="#chore-logs-filtering-form"
    >
        <h5 class="mb-0" style="user-select: none;">Filtering</h5>
        <span class="ms-auto d-lg-none" style="user-select: none;">
            {% if show_form %}
                &#9650;
            {% else %}
                &#9660;
            {% endif %}
        </span>
    </div>
    <form action="{{ url_for("chore_logs.index") }}"
          hx-trigger="change"
          hx-get="{{ url_for("chore_logs.index") }}"
          hx-replace-url="true"
          hx-target="body"
          class="card-body pb-2 {% if not show_form %}d-none d-lg-block{% endif %}"
          id="chore-logs-filtering-form"
    >
        {{ form_group(form, "search_text", render_kw={"hx-get": url_for("chore_logs.index"), "hx-trigger": "keyup delay:1000ms", "hx-include": "closest form"}) }}

        {# check off lists you want to filter #}
        <div class="form-group">
            <label class="form-label">{{ form.lists.label }}</label>
            {% for list_id, list_title in form.lists.choices %}
                <div class="form-check">
                    <input type="checkbox" name="{{ form.lists.name }}" id="{{ form.lists.id }}_{{ loop.index }}"
                           value="{{ list_id }}" class="form-check-input"
                           {% if list_id|string in form.lists.data %}checked{% endif %}>
                    <label for="{{ form.lists.id }}_{{ loop.index }}">{{ list_title }}</label>
                </div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label class="form-label">Options</label>
            <div class="form-check">
                {{ form.show_archived(class="form-check-input") }}
                <label class="form-check-label" for="show_archived">
                    Show Archived
                </label>
            </div>
        </div>

        {# Whether to show the form or hide it (collapse it) #}
        {{ form.show_form() }}

        <div class="bottom-buttons mb-3">
            {#                            <button type="submit" class="btn btn-outline-info w-100 mb-3">Submit</button>#}
            <a href="{{ url_for("chore_logs.index", show_form=(form.show_form.data|lower == "true")) }}" class="btn btn-outline-secondary btn-sm w-100">Reset</a>
        </div>
    </form>
    {#                    <h6 class="mt-3">Filter by List</h6>#}
    {#                    <p>To do: check to show chores from list</p>#}
    {#                    <h6 class="mt-3">Jump to</h6>#}
    {#                    <ul class="jump-to-list">#}
    {#                        {% for chore_log in chore_logs_list %}#}
    {#                            <li>#}
    {#                                <a href="#chore-log-card-{{ chore_log.chore_log_id }}">{{ chore_log.chore.title }}</a>#}
    {#                            </li>#}
    {#                        {% endfor %}#}
    {#                    </ul>#}
</div>
