{% extends "base.html" %}
{% from "macros/action-link.html" import action_link %}
{% from "macros/form.html" import form_group %}

{% set title = "Chores" %}
{% set active_route = "chore_logs" %}

{% block actions %}
    {{ action_link("Create Chore", url_for("chores.create")) }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-lg-8 order-2 order-lg-1">
            {% for chore_log in chore_logs_list %}
                {% include "chore_logs/chore-log-partial.html" %}
            {% endfor %}
            {% if not chore_logs_list|length %}
                <p>No results matched your search.</p>
            {% endif %}
        </div>
        <div class="col-12 col-lg-4 order-1 order-lg-2 mb-3">
            {% include "chore_logs/chore-log-filtering-open-partial.html" %}
        </div>
    </div>
{% endblock body %}