{% extends "base.html" %}
{% from "macros/action-link.html" import action_link %}

{% set title = "Chores" %}
{% set active_route = "chore_logs" %}

{% block actions %}
    {{ action_link("Create Chore", url_for("chores.create")) }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-lg-8 mb-3 mb-lg-0">
            {% for chore_log in chore_logs_list %}
                {% include "chore_logs/chore-log-partial.html" %}
            {% endfor %}
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body pb-2">
                    <label for="search-chores" class="h6">Search</label>
                    <input id="search-chores" class="form-control form-control-lg" placeholder="Search..." />
                    <h6 class="mt-3">Jump to</h6>
                    <ul class="jump-to-list">
                        {% for chore_log in chore_logs_list %}
                            <li>
                                <a href="#chore-log-card-{{ chore_log.chore_log_id }}">{{ chore_log.chore.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}